<div class="main">
  <div class="field-wrapper">
    <img src="<%= "/player_images/graund.jpg" %>" alt="">
    <div class="container">
      <div class="player">
        <%= fa_icon("circle") %>
      </div>
    </div>
  </div>
</div>